@import '~antd/dist/antd.css';
#__next{
    height: 100%;
}

.ant-notification {
    z-index: 99999;
}

.custom-notification-antd {
    background-color: rgb(47, 47, 54);
}

.custom-notification-antd .ant-notification-notice-message {
    font-size: 14px;
    color: rgb(255, 255, 255);
    font-weight: 700;
    line-height: 1.42857;
}

.custom-notification-antd .ant-notification-notice-description, .ant-notification-close-x {
    color: rgb(185, 194, 203);
}

.login-popup .login-content form,
.login-popup .login-content .login-bottom {
    margin-top: 50px;
}
.login-popup .signup-content .login-bottom{
        margin-top: 30px;
}

@media only screen and (min-width: 576px) and (max-width: 767.98px) {
    .login-popup .login-content .login-bottom {
        margin-top: 80px;
    }
}

.custom-search{
    margin-bottom: 40px;
}

.ant-table table{
    background-color: white;
}