@import '~antd/dist/antd.css';

.ant-notification {
    z-index: 99999;
}

.custom-notification-antd {
    background-color: rgb(47, 47, 54);
}

.custom-notification-antd .ant-notification-notice-message {
    font-size: 14px;
    color: rgb(255, 255, 255);
    font-weight: 700;
    line-height: 1.42857;
}

.custom-notification-antd .ant-notification-notice-description, .ant-notification-close-x {
    color: rgb(185, 194, 203);
}


